<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/funnel.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <%= css :application %>
  <%= js  :app %>
  <title>QA metrics</title>
</head>
<body>
<div id="menu">
    <div class="nav-list">
      <span class="page-title">QA Analytics</span>
      <a href="/">/</a>
      <a href="/project/core">core</a>
      <a href="/project/jade">jade</a>
      <a href="/project/journal">journal</a>
      <a href="/project/publisher">publisher</a>
    </div>
</div>

<div class="sub-nav">

<%= css :application %>